.textdecoration_linethrough{
  text-decoration: line-through;
}

.task_title{
  display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.description_height{
  display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.fa-chevron-right-design{
  vertical-align: middle;
}